*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#222 ;
    color: #fff;
    font-family: system-ui;
}
.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 30px  0px 10px 0px;
    font-size: 12px;
    letter-spacing:1px ;
    word-spacing: 3px;
}
input{
    width:100% ;
    height: 35px;
    margin: 4px 2px;
    outline:none ;
    border: none;
    background:#111;
    border-radius: 7px;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
}
input:focus{
    background: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: #a00d02;
    padding: 5px 7px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
    background:#3b8e0f ;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 16px;
    margin-left: 14px; 
    text-transform: capitalize;
}
button:hover{
    background:#61d24f;
    letter-spacing: 1px; 
}
.btnSearch{
    display: flex;
    justify-content: space-between;
    margin: 3px auto;
}
.btnSearch button{
    width: 45%;
    
}
#deleteAll{
    margin:20px 0 ;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
table th,td{
    padding:5px ;
}